<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar lines="none">
      <ion-title size="large">Settings</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list lines="none" *ngFor='let list of lists'>
    <ion-item>
      <ion-label class="ion-no-margin">
        <h1 class="title" >{{list.title}}</h1>
        <p class="content" class="ion-text-wrap">{{list.content}}</p>
    </ion-label>
    </ion-item>
  </ion-list>

</ion-content>