#group-one, #group-two {
    border-bottom: 1px solid rgb(172, 141, 255);
    padding-bottom: 2%;
    padding-top: 2%;
}
.menu-right {
    --width: 40%;
    --height: 50%;
}
#menu-right {
    border: 1px solid rgb(172, 141, 255);
    padding: 16%;
    border-radius: 5%;

}

