
  <ion-header>
    <ion-toolbar color="whatsapp">
      <ion-grid>

        <ion-row>

          <ion-col size="10">
            <div><b>WhatsApp</b></div>
          </ion-col>

          <ion-col size="1">
            <ion-buttons>
              <ion-button>
                <ion-icon name="search-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-col>

          <ion-col size="1">
            <ion-buttons>
              <ion-button>
                <ion-icon name="ellipsis-vertical-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-col>

        </ion-row>

        <ion-row class="ion-align-items-center">

          <ion-col size="1">
            <ion-buttons horizontal="start" vertical="top">
              <ion-button>
                <ion-icon name="camera"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-col>

          <ion-col size="4">
            <div><b>&nbsp;&nbsp;CHATS</b></div>
          </ion-col>

          <ion-col size="5">
            <div><b>&nbsp;&nbsp;STATUS</b></div>
          </ion-col>

          <ion-col size="2">
            <div><b>CALLS</b></div>
          </ion-col>

        </ion-row>

      </ion-grid>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    
    <ion-list>

      <ion-item *ngFor = 'let list of cList'>
        <ion-avatar class="ion-margin">
          <ion-img [src] = 'list.picture'></ion-img>
        </ion-avatar>
        <ion-label>
          <h1><b>{{list.name}}</b></h1>
          <h2>{{list.phone_number}}</h2>
        </ion-label>

        <ion-buttons>
          <ion-button>
            <ion-icon name="chevron-forward-outline" class="ion-float-right" color="whatsapp"></ion-icon>
          </ion-button>
        </ion-buttons>

      </ion-item>

    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="whatsapp"> 
        <ion-icon name="paper-plane-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </ion-content>

 

