<ion-content>
  <ion-slides pager="true" [options]="slideOpts">

      <ion-slide>
          <ion-label class="ion-margin">
              <h1 class="top">All your finances in one place</h1>
              <p class="bottom">See the bigger picture by having all your financial sources on one spot -- bank accounts, credit cards, debit cards, and more.</p>
          </ion-label>
      </ion-slide>
      <ion-slide>
          <ion-label class="ion-margin">
              <h1 class="top">Track your spending</h1>
              <p class="bottom">Keep track of your expenses manually, or automatically with a connected bank account</p>
          </ion-label>
      </ion-slide>
      <ion-slide>
          <ion-label class="ion-margin">
              <h1 class="top">Know where your money goes</h1>
              <p class="bottom">With categories and easy-to-read-charts</p>
          </ion-label>
      </ion-slide>
      <ion-slide>
          <ion-label class="ion-margin">
              <h1 class="top">Learn how to manage finances</h1>
              <p class="bottom">Get regular overviews and tips for improvement</p>
          </ion-label>
      </ion-slide>

  </ion-slides>

      <ion-button class="bordered" size="large" expand="block" fill="outline" class="ion-margin" (click)="navToLogin()">
          <ion-label class="button-label">START NOW</ion-label>
      </ion-button>

</ion-content>
